/* Header */

header {
	padding-top: 10px;
}

.menu {
	background-color: #BEBEBE;
	padding-top: 40px;
	padding-left: 10px;
}


a {
	color: black;
}

.links-top {
	padding-top: 35px;
}

.links-top li {
	margin-left: 20px;
}

.buscador {
	padding-top: 30px;
}

.buscador input {
	color: #9A9A9A;
	width: 150px;
}



/* Section artículos */

section {
	margin-top: 10px;
}


.label {
	background-color: grey;
	border-radius: 0px;
}

.articulo {
	margin: 10px 0;
	color: black;
}

.publicado {
	padding-top: 10px;
}

p.publicado {
	font-size: 12px;
	color: #9A9A9A;
}

.publicado b {
	color: black;
}

p.lead {
	font-size: 14px;
	color: #9A9A9A;
}

.glyphicon {
	margin-right: 10px;
}

.icon-bookmark {
	width: 200px;
}

.icon-tag {
	width: 300px;
}

.icon-tag span {
	text-decoration: underline;
}

hr {
	color: grey;
	background-color: grey;
	border: 1px solid grey;
}

.webzone {
	background-color: black;
}


.foto {
	width: 100%;
	height: 200px;
	background-color: #D7D7D7;
	color: black;
	padding: 100px;
	margin-bottom: 10px;
}



/* Video y agenda */

.video {
	background-color: #D7D7D7;
	color: #9A9A9A;
	width: 100%;
	height: 100%;
	padding: 0 5px 0px 5px;
	margin-bottom: 0px;
}

.video-preview img {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.lead-video {
	font-size: 12px;
}

.publicado {
	margin-right: 120px;
}


h4 {
	color: black;
}

h5 {
	color: black;
}

.ver-mas {
	float: right;
	width: 100px;
	text-align: left;
}

.ver-mas i {
	margin-top: 10px;
}

span.agenda1 {
	padding-right: 50px;
}

div.fecha {
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 20px;
	background-color: silver;
	float: left;
	margin-right: 10px;
	padding: 10px 5px 10px 5px;
}

.fechas {
	margin-top: 20px;
}

.fecha1, .fecha2, .fecha3, .fecha4 {
	margin-bottom: 20px;
}

.agenda h4 {
	margin-bottom: 0px;
}

.lead-agenda {
	white-space: pre-line;
	color: #9A9A9A;
	font-size: 12px;
}

.mas-info {
	width: 70%;
}

.top {
	text-decoration: underline;
	margin-bottom: -10px;
}

.mas-info h5 {
	margin-bottom: 0px;
}

/*  */

.info-lateral {
	margin-top: 20px;
}

.cuadro {
	background-color: #D7D7D7;
	color: #9A9A9A;
	width: 100%;
	height: 100%;
	padding: 5px 5px;
	margin-bottom: 5px;
}

.enquete, .preguntas {
	font-size: 12px;
}

.bajada, .bajada2 {
	font-size: 12px;
}

.pt10 {
	font-size: 10px;
	color: black;
}

hr.big {
	color: grey;
	background-color: grey;
	border: 3px solid grey;
	margin-top: 50px;
}

/* Footer */

/* ALL UL */

ul li {
	list-style-image: url(../img/bookmark-icon-10x13.png);
	font-weight: bold;
}